.logo{
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin-left: 15px;
    color: white;
    font-style: italic;

    /*background-image: linear-gradient(141deg, black 0%, #1ED760 51%, #1DB954 75%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}
.sticky{
    position: fixed;
    top: 0;
    z-index: 999999;
}
.underline{
    -webkit-animation: fade 5s ease infinite;
    -moz-animation: fade 5s ease infinite;
    -o-animation: fade 5s ease infinite;
    animation: fade 5s ease infinite;
    display: block;
    margin-top: -10px;
    width: 81px;
    height: 1px;
    background-size: 3000%;

    background-image: linear-gradient(to right, #000, #1ED760, #1DB954, #000);
}
@-webkit-keyframes fade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-moz-keyframes fade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-o-keyframes fade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes fade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}